body {background-color: black;font-size: small;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1 {color: aliceblue;}
h2 {color: blue;}
p {color: beige;}